
@{
    ViewBag.Title = "Error";
}

<div class="container body-content">
    <center>
        <h2>Error</h2>
        <p>Ha ocurrido un error, la solicitud no puede ser procesada</p>
    </center>
</div>

