
@{
    ViewBag.Title = "500 Internal Server Error";
}

<div class="container body-content">
    <center>
        <h2>500</h2>
        <h3>Error interno del servidor</h3>
        <p> El servidor encontró un error interno y no se puede completar su solicitud </p>
    </center>
</div>

