
@{
    ViewBag.Title = "404 Not Found";
}

<div class="container body-content">
    <center>
        <h2>404</h2>
        <h3>Página no encontrada</h3>
        <p>Asegúrese de que la dirección sea correcta y que la página no se haya movido</p>
    </center>
</div>


